{# Kế thừa layout backend #}
{% extends "backend/layouts/layout-fullpage.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Đăng nhập
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Đăng nhập
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Bạn chưa kích hoạt tài khoản, vui lòng kiểm tra hộp mail để kích hoạt!</h1>
        </div>
    </div>
</div>
{% endblock %}
{# End Nội dung trong block content #}