<!doctype html>
<html lang="vi" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />
    <!-- Font awesome -->
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css" type="text/css" />

    <!-- Custom css - Các file css do chúng ta tự viết -->
    <link rel="stylesheet" href="/assets/backend/css/style.css" type="text/css" />

    <!-- Block title - Đục lỗ trên giao diện bố cục chung, đặt tên là `title` -->
    <title>Nền tảng - Kiến thức cơ bản về WEB | 
        {% block title %}
        {% endblock %}
    </title>
    <!-- End block title -->

    <!-- Block custom-styles - Đục lỗ trên giao diện bố cục chung, đặt tên là `custom-styles` -->
    {% block customstyles %}
    {% endblock %}
    <!-- End block custom-styles -->
</head>

<body class="d-flex flex-column h-100">
    <!-- header -->
    {{ include('backend/layouts/includes/header.html.twig') }}
    <!-- end header -->

    <div class="container-fluid">
        <div class="row">
            <!-- sidebar -->
            {{ include('backend/layouts/includes/sidebar.html.twig') }}
            <!-- end sidebar -->

            <main role="main" class="col-md-10 ml-sm-auto px-4 mb-2">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">
                        <!-- Block headline - Đục lỗ trên giao diện bố cục chung, đặt tên là `headline` -->
                        {% block headline %}
                        {% endblock %}
                        <!-- End block headline -->
                    </h1>
                </div>

                <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
                {% block content %}
                {% endblock %}
                <!-- End block content -->
            </main>
        </div>
    </div>

    <!-- footer -->
    {{ include('backend/layouts/includes/footer.html.twig') }}
    <!-- end footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/popperjs/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/feather/feather.min.js"></script>

    <!-- Thư viện Jquery validation -->
    <script src="/assets/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/assets/vendor/jquery-validation/localization/messages_vi.min.js"></script>

    <!-- Custom script - Các file js do mình tự viết -->
    <script src="/assets/backend/js/app.js"></script>

    <!-- Block custom-scripts - Đục lỗ trên giao diện bố cục chung, đặt tên là `custom-scripts` -->
    {% block customscripts %}
    {% endblock %}
    <!-- End block custom-scripts -->
</body>

</html>