<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="https://nentang.vn">Nền tảng</a>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/php/twig">Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/php/twig/backend/pages/dashboard">Quản trị</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/php/twig/frontend/sanpham/danhsach">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/php/twig/frontend/pages/gioithieu">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/php/twig/frontend/pages/lienhe">Liên hệ</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" method="get" action="/php/twig/frontend/pages/timkiem">
                <input class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm" aria-label="Search"
                    name="keyword_tensanpham">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
            </form>
        </div>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/php/twig/frontend/thanhtoan/giohang">Giỏ hàng</a>
            </li>
            <li class="nav-item text-nowrap">
                {% if session['username'] %}
                <!-- Nếu đã đăng nhập thì hiển thị nút Đăng xuất -->
                <a class="nav-link" href="/php/twig/frontend/pages/logout">Đăng xuất</a>
                {% else %}
                <!-- Nếu chưa đăng nhập thì hiển thị nút Đăng nhập -->
                <a class="nav-link" href="/php/twig/frontend/pages/login">Đăng nhập</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>