body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
   * Content
   */

[role="main"] {
  padding-top: 133px;
  /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px;
    /* Space for fixed navbar */
  }
}

/*
   * Navbar
   */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
Footer
*/
.footer {
  background-color: #272b30;
  color: #fff;
}

/* Avatar */
.avatar-img-container {
  border: 1px dashed blue;
  width: 210px;
  text-align: center;
}

/* Style for errors page */
/* #errorpage {
  position: relative;
  height: 100vh;
}

#errorpage .errorpage {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.errorpage {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
} */

/* ----- 404 ------ */
.errorpage .errorpage-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.errorpage .errorpage-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.errorpage .errorpage-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
/* ----- End 404 ------ */

/* ----- 403 ------ */
.errorpage .errorpage-403 {
  position: relative;
  /* height: 200px; */
  margin: 0px auto 20px;
  z-index: -1;
}

.errorpage .errorpage-403 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.errorpage .errorpage-403 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
/* ----- End 403 ------ */

/* ----- 500 ------ */
.errorpage .errorpage-500 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.errorpage .errorpage-500 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.errorpage .errorpage-500 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
/* ----- End 500 ------ */

.errorpage a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.errorpage a:hover {
  color: #ff6300;
  background: #211b19;
}

@media only screen and (max-width: 767px) {
  .errorpage .errorpage-404 h1 {
    font-size: 148px;
  }
  .errorpage .errorpage-403 h1 {
    font-size: 148px;
  }
  .errorpage .errorpage-500 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  /* 404 */
  .errorpage .errorpage-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .errorpage .errorpage-404 h1 {
    font-size: 86px;
  }
  .errorpage .errorpage-404 h2 {
    font-size: 16px;
  }

  /* 403 */
  .errorpage .errorpage-403 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .errorpage .errorpage-403 h1 {
    font-size: 86px;
  }
  .errorpage .errorpage-403 h2 {
    font-size: 16px;
  }

  /* 500 */
  .errorpage .errorpage-500 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .errorpage .errorpage-500 h1 {
    font-size: 86px;
  }
  .errorpage .errorpage-500 h2 {
    font-size: 16px;
  }
  
  .errorpage a {
    padding: 7px 15px;
    font-size: 14px;
  }
}