<footer class="footer mt-auto py-3">
    <div class="container">
        <span>Bản quyền &copy; bởi <a href="https://nentang.vn">Nền Tảng</a> - 2019.</span>
        <span class="text-muted">Hành trang tới Tương lai</span>
    </div>
</footer>