<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/php/twig/backend/pages/dashboard.php">
                    <span data-feather="home"></span>
                    Bảng tin <span class="sr-only">(current)</span>
                </a>
            </li>
          
            <!-- Menu Loại sản phẩm -->
            <li class="nav-item">
                <a href="#loaisanphamSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                    <span data-feather="package"></span> Loại sản phẩm
                </a>
                <ul class="collapse" id="loaisanphamSubMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/loaisanpham/index.php">
                            <span data-feather="list"></span>
                            Danh sách
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/loaisanpham/create.php">
                            <span data-feather="plus"></span>
                            Thêm mới
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Menu Loại sản phẩm -->

            <!-- Menu Nhà sản xuất -->
            <li class="nav-item">
                <a href="#nhasanxuatSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                    <span data-feather="package"></span> Nhà sản xuất
                </a>
                <ul class="collapse" id="nhasanxuatSubMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/nhasanxuat/index.php">
                            <span data-feather="list"></span>
                            Danh sách
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/nhasanxuat/create.php">
                            <span data-feather="plus"></span>
                            Thêm mới
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Menu Nhà sản xuất -->
           
            <!-- Menu Khuyến mãi -->
            <li class="nav-item">
                <a href="#khuyenmaiSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                    <span data-feather="package"></span> Khuyến mãi
                </a>
                <ul class="collapse" id="khuyenmaiSubMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/khuyenmai/index.php">
                            <span data-feather="list"></span>
                            Danh sách
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/khuyenmai/create.php">
                            <span data-feather="plus"></span>
                            Thêm mới
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Menu Khuyến mãi -->
            
            <!-- Menu Sản phẩm -->
            <li class="nav-item">
                <a href="#sanphamSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                    <span data-feather="package"></span> Sản phẩm
                </a>
                <ul class="collapse" id="sanphamSubMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/sanpham/index.php">
                            <span data-feather="list"></span>
                            Danh sách
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/sanpham/create.php">
                            <span data-feather="plus"></span>
                            Thêm mới
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Menu Sản phẩm -->

            <!-- Menu Hình Sản phẩm -->
            <li class="nav-item">
                <a href="#hinhsanphamSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                    <span data-feather="package"></span> Hình sản phẩm
                </a>
                <ul class="collapse" id="hinhsanphamSubMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/hinhsanpham/index.php">
                            <span data-feather="list"></span>
                            Danh sách
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/hinhsanpham/create.php">
                            <span data-feather="plus"></span>
                            Thêm mới
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Menu Hình Sản phẩm -->
        </ul>
    </div>
</nav>