{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Đăng nhập
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Đăng nhập
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>Chúc mừng bạn đã kích hoạt tài khoản thành công!</h1>
            <a class="btn btn-outline-primary" href="/">Quay về Trang chủ</a>
            <a class="btn btn-primary" href="/backend/auth/login.php">Đăng nhập ngay!</a>
        </div>
    </div>
</div>
{% endblock %}
{# End Nội dung trong block content #}